<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="plantilla/templates::head">  
    </head>
    <body>
        <header th:replace="plantilla/templates::header"> </header>
        <h1>Datos del Cliente</h1>
        <a th:href="@{/}">Regresar</a>
        <br>
        <form th:action="@{/save}"
              method="post"@
              th:object="${personas}">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br>
            <label for="apellido1">Prime Apellido:</label>
            <input type="text" name="apellido1" th:field="*{apellido1}"/>
            <br>
             <label for="apellido2">Segundo Apellido:</label>
            <input type="text" name="apellido2" th:field="*{apellido2}"/>
            <br>
            <label for="email">Correo:</label>
            <input type="email" name="email" th:field="*{email}"/>
            <br>
            <label for="telefono">Telefono:</label>
            <input type="tel" name="telefono" th:field="*{telefono}"/>
            <br>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <footer th:replace="plantilla/templates::footer">
    </body>
</html>
